/* Content table */
#learn-table {
  font-size: 0.8em;
}

td.empty {
  background-color: #eeeeee;
}

a.disabled {
  pointer-events: none;
  color: black;
}

#learn-table td > ul {
  margin: 0;
}

@media (min-width: 768px) {
  /* Content column */
  #learn-table th:nth-child(1),
  #learn-table td:nth-child(1) {
    text-align: left;
    width: 275px;
  }

  /* Prep column */
  #learn-table th:nth-child(2),
  #learn-table td:nth-child(2) {
    width: 100px;
  }

  /* Lecture column */
  #learn-table th:nth-child(3),
  #learn-table td:nth-child(3) {
    text-align: left;
    width: 300px;
  }

  /* Lab column */
  #learn-table th:nth-child(4),
  #learn-table td:nth-child(4) {
    width: 100px;
  }

  /* Readings column */
  #learn-table th:nth-child(5),
  #learn-table td:nth-child(5) {
    width: 300px;
    text-align: left;
  }

  #learn-table p {
    margin-top: 0;
    border-bottom: solid 1px #9dbdd9;
  }

  #course-team-table td {
    width: 200px;
    text-align: left;
    font-size: medium;
  }

  #expanded-lab-table {
    margin: 0 auto;
  }

  #expanded-lab td,
  #expanded-lab tr {
    min-width: 80px;
  }

  .logistics-labs {
    padding: 0;
  }

  #expanded-lab-table tbody td:nth-child(3n+3),
  #expanded-lab-table thead tr:nth-child(2) th:nth-child(3n+3) {
    border-right: gray 1px dotted;
  }

  #compressed-lab-table {
    display: none;
  }

  /* Marking scheme */
  .marking-scheme th,
  .marking-scheme td {
    text-align: left;
  }
}

@media (max-width: 767px) {
  #learn-table td:nth-child(1):before { content: "Content"; }
  #learn-table td:nth-child(2):before { content: "Resources &\AReadings"; }
  #learn-table td:nth-child(3):before { content: "Reminders"; }
  #learn-table td:nth-child(3) {
    min-height: 3.6em;
  }

  td {
    min-height: 2em;
  }

  #marking-scheme td:nth-child(3n+1):before { content: "Item"; }
  #marking-scheme td:nth-child(3n+2):before { content: "Due Date"; }
  #marking-scheme td:nth-child(3n+3):before { content: "Weight"; }

  .logistics-labs td:nth-child(1):before { content: "Surname";}
  .logistics-labs td:nth-child(2):before { content: "Room";}
  .logistics-labs td:nth-child(3):before { content: "TA";}

  #expanded-lab-table {
    display: none;
  }

  #compressed-lab-table {
    display: block;
  }

  #course-team-table td {
    width: 100%;
    text-align: left;
  }
}


/* Logistics table */
#logicstics-table {
  font-size: 12pt;
}

#logistics-table ul {
  margin-top: 0;
}

/* Course team table */
#course-team-table img {
  width: 100%;
}

#logo {
  width: 45%;
  max-width: 300px;
}