/* Basic */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
   margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #f5f5ef;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-size: larger;
  line-height: 1.3;
  height: calc(100% - 60px);
}

.content {
  display: block;
  max-width: 900px;
  min-height: calc(100vh - 215px);
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 10px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 300;
  margin: 20px 0px 10px 0px;
}

p {
  margin: 0.7em 0;
}

ul {
  margin: 0.7em 0;
}

li {
  margin-left: 30px;
}

a {
  padding: 2px 0px;
  border-radius: 4px;
  color: grey
}

a:link, a:visited {
  color: #3399FF;
  transition: 0.1s;
}

a:hover, a:focus {
  background: #E9F6FB;
  transition: 0s;
}

.clear {
  clear:both;
}

code {
  font-family: 'Inconsolata', monospace;
  padding: 0 2px 1px 2px;
  border-radius: 2px;
  background: #F4F4F4;
  white-space: pre;
}

pre code {
  font-family: 'Inconsolata', monospace;
  padding: 6px 0px;
  border-radius: 4px;
  background: none;
  white-space: pre;
  display: block;
  margin: 20px;
}

form input, form textarea {
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0 10px;
  width: 250px;
}

form textarea {
  margin: 10px 0;
  width: 100%;
  height: 300px;
  font-family: avenir, sans-serif;
}

fieldset {
  border: 1px solid transparent;
}


/* Navigation */
.nav-container {
  z-index: 10;
  position: fixed;
  top: 0px;
  height: 42px;
  width: 100%;
  display: block;
  background-color: rgba(216, 231, 241, 0.95);
  font-size: 16px;
}

.nav-container a {
  text-decoration: none;
}

nav.expanded {
  max-width: 780px;
  margin: 8px auto;
}

.name {
  font-weight: bold;
}

.here { /*currently selected nav button*/
  border-radius: 7px;
}

.here:hover{
  background: #3399FF;
  color: white;
}

.nav-button {
  margin: 0px 4px;
  padding: 2px 8px;
  float: left;
  cursor: pointer;
}

.nav-button:hover {
  border-radius: 8px;
}

.compressed-container {
    display: none;
}

.dropdown-list {
  background-color: rgba(216, 231, 241, 0.95);
  display: none;
  position: absolute;
  top: 42px;
  height: 42px;
  padding: 6px;
  max-width: 780px;
}

.dropdown:hover {
  border-radius: 6px;
  background-color: #E9F6FB;
}

.dropdown-toggle {
  color: #3399FF;
}

.dropdown-toggle::after {
  content: "▼";
  color: #3399FF;
}

.down-arrow {
  right: -14px;
  color: #0a0;
  font-size: 16px;
}

.down-arrow:focus {
  color: white;
}

.dropdown-choice {
  padding: 6px 8px 4px;
  display: inline-block;
}

.dropdown-choice:hover {
  padding-top: 6px;
  padding-bottom: 4px;
  border-radius: 8px;
}

.line {
  height: 1px;
  width: 100%;
  position: absolute;
  top: 42px;
  background-color: #ccc;
}


/* Footer */
footer {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  color: #777777;
}

.logo {
  margin: 0 auto;
  display: block;
  border: 1px solid #fafafa;
  border-radius: 10px;
  transition: 0.5s;
}

.logo:hover {
  border: 1px solid #3399FF;
  border-radius: 10px;
  transition: 0s;
}


/* Tables */
table {
  outline: none;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em auto;
  padding: 0;
}

tr {
  border-bottom: solid lightgrey 1px;
}

tbody > tr:last-child {
  border-bottom: none;
}

th {
  background-color: #eeeeff;
  padding: 8px;
  margin: 0;
  text-align: center;
  vertical-align: top;
  border-bottom: solid black 1px;
}

td {
  padding: 10px 8px;
  margin: 0;
  text-align: center;
  vertical-align: top;
  background-color: ivory;
}

table li {
  margin: 4px 0;
  display: block;
  line-height: 1.1em;
}


/* Different screen sizes */
@media (max-width: 768px) {
  .nav-button {
    display: block;
  }

  /* Table */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr { border: 1px solid #B4A2D3; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #B4A2D3;
    position: relative;
    padding-left: 37%;
    width: 100%;
    text-align: left;
  }

  /* Now like a table header */
  td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35%;
    height: 100%;
    padding: 6px 10px 0px 6px;
    font-weight: bold;
    background-color: #eeeeff;
    white-space: pre;
  }

  .logo {
    width: 60%;
  }
}

@media (max-width: 650px) {
  nav.expanded {
    display: none;
  }

  .compressed-container {
    display: block;
  }

  .dropdown-toggle {
    margin: 8px 4px;
  }

  .dropdown-list {
    height: inherit;
  }

  .dropdown-choice {
    display: block;
  }

  .name::after {
    padding-left: 5px;
    content: "▼";
  }
}

/* Smartphone */
@media only screen and (max-device-width: 480px) {
  nav.expanded {
    display: none;
  }

  .compressed-container {
    display: block;
    font-size: 24pt;
  }

  .nav-container {
    height: 50px;
  }

  .line {
    top: 50px;
  }

  .dropdown-toggle {
    margin: 8px 4px;
  }

  .dropdown-list {
    height: inherit;
    top: 50px
  }

  .name::after {
    padding-left: 5px;
    content: "▼";
  }
}


/* Printing formatting */
@media print {
  body {
    font-size: medium;
  }

  .nav-container {
    visibility: hidden;
  }

  .content {
    margin-top: 1em;
  }
}
